/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

// body {
//   background: $primary-background;
// }



/* RESET */
nav, body, h1, h2,h3 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* MOBILE STYLING */
* {
  color: rgba(255, 255, 255, 1);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.colored-icon {
  color: #359DDB
}

.company-logo {
  margin-bottom: 0;
  margin-top: .5em;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}

.left-dropdown:hover {
  font-size: .5em;
  margin-bottom: .5em;
  cursor: pointer;
}

.drop-downs {
  margin-top: 0;
}

.left-dropdown {
  margin-right: 1em;
}

.nav-icons,
.left-nav,
.username {
  display: flex;
}

.home-icon,
.star-icon,
.night-icon,
.bed-icon,
.account-icon {
  display: none;
}

.left-nav {
  margin-top: 6em;
  margin-left: 1em;
}

.username {
  margin-top: 1em;
}

body {
  background-color: #EFEFEF;
}

.right-logo {
  padding-bottom: 0;
}

.hotel-logo {
  margin-top: 1em;
  font-size: 2em;
  color: #359DDB;
}

.colored-word {
  color: #9D9D9E;
}

h2 {
  color: #4D4D4D;
  font-size: 3em;
  padding: 25px;
}

h3 {
  color: #4D4D4D;
  font-size: 1em;
  padding: 5px;
}

.total-cost-container {
  display:flex;
}


.image-container {
  background-color: #FFFFFF;
  position: relative;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  gap: 10px;
  height: 30em;
  padding: 25px;
  margin-top: 25px;
}

.hotel-image {
  width: 100%;
  height: 100%;
}

.left-nav {
  display: block;
}

.book-room-section {
  background-color: #BCBCBC;
  display: flex;
  justify-content: space-around;
  height: 250px;
  padding: 15px;
  width: 550px;
}

.book-room-titles,
.login-form-submit {
  color: #4D4D4D;
  font-size: 1.5em;
}

.login-form-submit:hover {
  color: #4D4D4D;
  border-radius: 5px;
  cursor: pointer;
}

.login-form {
  background-color: #4D4D4D;
  height: 250px;
  width: 350px;
  border-radius: 5px;
}

.input-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.input {
    margin-top: 5px;
}

.login-page {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.submit-btn,
.select-room,
.calendar:hover{
  cursor: pointer;
}

.total-cost {
  font-size: 1.5em;
}

/* SMALL TABLET STYLING */
@media screen and (min-width: 620px) {
  .home-icon,
  .star-icon,
  .night-icon,
  .bed-icon,
  .account-icon {
    display: inline;
  }
  .left-nav {
    display: flex;
  }
  .left-dropdown {
    font-size: 1em;
  }
  .image-container {
    background-color: #FFFFFF;
    position: relative;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    gap: 10px;
    height: 30em;
    padding: 25px;
    margin-top: 25px;
  }
}

/* LARGE TABLET AND LAPTOP STYLING  */
@media screen and (min-width: 960px) {

  .image-container {
    background-color: #FFFFFF;
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 30em;
    padding: 25px;
    box-shadow: 5px 5px #BCBCBC;
    margin-top: 25px;
    margin-left: 25px;
  }

  .share-icon,
  .heart-icon,
  .person-icon,
  .account-icon {
    display: inline;
  }
}

/* DESKTOP STYLING  */
@media screen and (min-width: 1200px) {
  .card-section {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .one {
    grid-area: 1/1/2/2;
  }

  .two {
    grid-area: 1/2/2/3;
  }

  .three {
    grid-area: 1/3/3/4;
  }

  .four {
    grid-area: 1/4/2/5;
  }

  .five {
    grid-area: 2/1/3/2;
  }

  .six {
    grid-area: 2/2/3/3
  }

  .seven {
    grid-area: 2/3/3/4
  }

  .eight {
    grid-area: 2/4/3/5;
  }

  .card-container {
    background-color: #FFFFFF;
    position: relative;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    gap: 10px;
    height: 30em;
    padding: 25px;
    box-shadow: 5px 5px #BCBCBC;
    margin-top: 25px;
    margin-left: 25px;
  }

  .home-icon,
  .star-icon,
  .night-icon,
  .bed-icon,
  .account-icon {
    display: inline;
  }
}

.hidden {
  display:none;
}
